body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* azul claro */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background-color 2s; /* Transição de cor animada */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;
    position: relative;
    z-index: 10;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    color: #1e90ff; /* azul */
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% { color: #1e90ff; }
    50% { color: #ff69b4; }
    100% { color: #1e90ff; }
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.foto-container {
    margin: 20px 0;
}

.foto-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #1e90ff;
}

button {
    background-color: #ff69b4; /* cor feminina */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff1493; /* tom mais escuro */
    transform: scale(1.1);
}

#mensagem {
    margin-top: 20px;
    font-size: 1.2em;
    color: #1e90ff; /* azul */
    display: none;
    animation: fadeIn 2s;
}

.confete {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #1e90ff;
    opacity: 0.7;
    top: -10px;
    animation: cair 5s linear infinite;
}

@keyframes cair {
    to {
        transform: translateY(100vh) rotate(720deg);
    }
}

.frase {
    position: absolute;
    font-size: 1.2em;
    color: #ff69b4;
    opacity: 0;
    animation: flutuar 10s infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}